<p id="notice"><%= notice %></p>

<div class="container-fluid">
        <% @categories.each do |category| %>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" style="padding: 15px;">
              <div class="card hvr-grow">
                <a href="<%= category_path(category) %>" style="text-decoration: none;">
                  <div class="card-block">
                  <div class="fill">
                    <img src="<%= category.image %>"  />
                  </div>
                  <div class="description">
                    <h4><%= category.name %></h4>
                    <p><%= category.description %></p>
                  </div>
                </div>
                </a>
              </div>
            </div>
        <% end %>
</div>