<p id="notice"><%= notice %></p>

<div class="jumbotron jumbotron-bg" style=" background: url('<%= @category.image %>');
                                            background-size: cover;
                                            background-position: center center;
                                            background-repeat: no-repeat;">
  <div class="container" style="color: white;
                                text-shadow: 0 0 4px #000, 0 0 4px #000, 0 0 4px #000, 0 0 4px #000, 0 0 4px #000, 0 0 4px #000;">
    <h1><%= @category.name %></h1>
    <p><%= @category.description %></p>
  </div>
</div>

<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<p>
  <strong>Image:</strong>
  <%= @category.image %>
</p>

<p>
  <strong>Description:</strong>
  <%= @category.description %>
</p>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
