<p id="notice"><%= notice %></p>

<div class="jumbotron jumbotron-bg" style=" background: url('<%= @category.image %>');
                                            background-size: cover;
                                            background-position: center center;
                                            background-repeat: no-repeat;">
  <div class="container" style="color: white;
                                text-shadow: 0 0 20px #333, 0 0 20px #333, 0 0 20px #333, 0 0 20px #333, 0 0 20px #333, 0 0 20px #333;">
    <h1><%= @category.name %></h1>
    <p><%= @category.description %></p>
  </div>
</div>
<div class="container-fluid">
  <% @packages.each do |package| %>
      <a href="<%= package_path(package) %>">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
          <div class="card">
            <div class="card-block">
              <div>
                <h4><%= package.name %></h4>
                <p><%= package.description %></p>
              </div>
            </div>
          </div>
        </div>
      </a>
  <% end %>
</div>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
