<p id="notice"><%= notice %></p>

<div class="jumbotron jumbotron-bg" style=" background: url('<%= @category.image %>');
                                            background-size: cover;
                                            background-position: center center;
                                            background-repeat: no-repeat;">
  <div class="container" style="color: white;
                                text-shadow: 0 0 20px #333, 0 0 20px #333, 0 0 20px #333, 0 0 20px #333, 0 0 20px #333, 0 0 20px #333;">
    <h1><%= @category.name %></h1>
    <p><%= @category.description %></p>
  </div>
</div>
<div class="container-fluid">
  <% @packages.each do |package| %>
        <div class="row">
          <div class="card">
            <a href="<%= package_path(package) %>" style="text-decoration: none;">
              <div class="card-block">
              <div class="bs-callout bs-callout-info package">
                <h4>
                  <%= package.name %>
                  <span class="badge"><%= package.words.size() %></span>
                </h4>
                <p style="color: #337ab7;">
                  <%= package.description %>
                </p>
              </div>
            </div>
            </a>
          </div>
        </div>
  <% end %>
</div>